/*ШРИФТ*/
$fz_big: 36px; /*размер шрифта - большой 36px*/
$fz_md: 24px; /*размер шрифта - средний 24px*/
$fz_sm: 18px; /*размер шрифта - меньше среднего 18px*/
$fz_regular: 16px; /*размер шрифта - обычный 16px*/
$fz_xs: 14px; /*размер шрифта - мелкий 14px*/
$btn_fz_regular: 22px; /*размер шрифта кнопки - обычный 22px*/


/*ЦВЕТ ТЕКСТА*/
$color_white: rgb(255, 255, 255); /*Белый текст*/
$text_grey: #666666; /*серый цвет текста*/

/*Цвет темы*/
$yellow-color: #f8c301; /*Желтый цвет темы*/
$yellow_hover: #fecc14; /*Желтый ховер*/ 
/*Багровый цвет*/
$blood-color: #3b2023; 
$blood_hover: #624D4F; 




/*Цвет ховеров*/
$btn_theme-color: rgb(255, 246, 133); /*ховер кнопок*/
